{% extends 'nuka/base.html' %}

{% load i18n bootstrap3 %}

{% block title %}{% trans "Ideat" %}: {% trans "Uusi Idea" %} - {{ block.super }}{% endblock title %}

{% block js_extra %}
    <script type="text/javascript">
        $(function () {
            $('input[name="target_type"]').on('change', function () {
                if($(this).prop('checked')) {
                    $('#id_target_organizations_wrap').toggle($(this).val() === '{{ form.TARGET_TYPE_ORGANIZATION }}');
                }
            });
            $('input[name="target_type"]:checked').trigger('change');
        });

        // "Write as" scripts.
        $(function() {
            $('input[name="write_as"]').change(function() {
                if ($(this).val() == {{ form.WRITE_AS_USER }})
                {
                    $("#id_initiator_organization_wrap").hide();
                    $("#id_owners_wrap").show();
                }
                else if ($(this).val() == {{ form.WRITE_AS_ORGANIZATION }})
                {
                    $("#id_initiator_organization_wrap").show();
                    $("#id_owners_wrap").hide();
                }
            });
            $('input[name="write_as"]:checked').trigger('change');
        });
    </script>
{% endblock js_extra %}

{% block content %}
    <article class="well">
        <h1>{% trans "Uusi idea 1/2" %}</h1>
        <div class="alert alert-info">
            {% trans "Täytä idean perustiedot: otsikko, aihe, idean omistajat, mitä kuntaa tai organisaatiota idea koskee ja kuka saa ottaa kantaa." %}
            {% trans "Seuraavassa vaiheessa voit lisätä idealle mm. kuvaustekstin ja kuvia, sekä kyselyn." %}
        </div>

        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form.upload_ticket }}
            {% bootstrap_field form.title %}
            {% bootstrap_field form.description %}
            <hr>
            <div class="row">
                <div class="col-md-6">{% bootstrap_field form.picture %}</div>
                <div class="col-md-6">{% bootstrap_field form.picture_alt_text %}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <!-- test requires following if clause -->
                    {% if form.write_as%}
                        {% bootstrap_field form.write_as %}
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <!-- test requires following if clause -->
                    {% if form.initiator_organization %}
                        {% bootstrap_field form.initiator_organization %}
                    {% endif %}
                    {% bootstrap_field form.owners %}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.target_type %}
                    {% bootstrap_field form.target_organizations %}
                </div>
                <div class="col-md-6">{% bootstrap_field form.tags %}</div>
            </div>
            {% bootstrap_field form.interaction %}
            <button type="submit" class="btn btn-default">{% trans "Jatka seuraavaan vaiheeseen" %}</button>
        </form>
    </article>
{% endblock content %}
