{% extends 'nuka/base.html' %}

{% load i18n bootstrap3 fontawesome bleach_tags static %}

{% block title %}{% trans "Ideat" %} - {{ block.super }}{% endblock title %}

{% block js_extra %}
    <script type="text/javascript" src="{% static "nuka/js/jquery.buttonselect.js" %}"></script>
{% endblock js_extra %}

{% block content %}
    <article class="well idea-search-well">
        <div class="row idea-search-header">
            <div class="col-md-8 col-sm-8">
                <h1>{% trans "Ideat" %}</h1>
            </div>
            <div class="col-md-4 col-sm-4 write-idea-btn-wrwap">
                <a class="btn btn-green btn-lg" href="{% url 'content:create_idea' %}">
                    <img src="{% static 'nuka/img/ikoni_lamppu_valkoinen.png' %}" alt=""> {% trans "Kirjoita idea" %}
                </a>
            </div>
        </div>

        <form id="idea_search_form" method="get">
            <div class="row">
                <div class="col-md-4">
                    {% bootstrap_field searchform.words %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {% bootstrap_field searchform.organizations %}
                </div>
                <div class="col-md-4">
                    {% bootstrap_field searchform.tags %}
                </div>
                <div class="col-md-4">
                    {% bootstrap_field searchform.municipalities %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {% bootstrap_field searchform.organization_initiated %}
                </div>
                <div class="col-md-4">
                    {% if searchform.user_municipality %}
                        {% bootstrap_field searchform.user_municipality %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group hidden-xs">
                    <button type="submit" class="btn btn-default btn-lg">{% bootstrap_icon "search" %} {% trans "Hae" %}</button>
                </div>
                <div class="col-md-12 form-group visible-xs">
                    <button type="submit" class="btn btn-default btn-lg btn-block">{% bootstrap_icon "search" %} {% trans "Hae" %}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    {% bootstrap_field searchform.status %}
                </div>
            </div>
            <!--<span class="pull-right">{% trans "Piilota hakuehdot" %}</span>-->
        </form>

        {% if paginator.count %}
            {% blocktrans with count=paginator.count %}Hakuehdoilla löytyi {{ count }} ideaa{% endblocktrans %}
        {% endif %}

    </article>
    <div class="clearfix"></div>
    <a name="search-results"></a>

    {% include "content/initiative_boxes.html" with initiatives=object_list empty_text=_("Hakemaasi ei löytynyt") %}

    <div class="text-center">{% bootstrap_pagination page=page_obj url=request.path|add:"?"|add:request.GET.urlencode %}</div>

    <a target="_blank" href="{{ rss_url|add:"?"|add:request.GET.urlencode }}" type="button" class="btn btn-default btn-lg">RSS</a>
    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#widget-modal" id="widget-modal-launch-btn">
        <span class="glyphicon glyphicon-cog"></span> {% trans "Widget" %}
    </button>

    {% include "content/widget_modal.html" %}

{% endblock content %}
