{% extends 'nuka/base.html' %}

{% load i18n bootstrap3 %}

{% block content %}

<div class="well">

    <h1>{% trans "Rekisteröidy" %}</h1>

    <div class="row">
        <div class="col-xs-12 col-md-6">
             <div>
                <h2 class="h4-style">{% trans "Nuortenideat.fi tunnukset" %}</h2>

                <p>{% trans "Luo Nuortenideat.fi käyttäjätunnus." %}</p>
                <a class="btn btn-default" id="nk-rekisteroityminen" href="{% url 'account:signup' %}">{% trans "Rekisteröidy" %}</a>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div>
                <h2 class="h4-style">{% trans "Facebook-tunnuksilla" %}</h2>

                <p>{% trans "Säästä aikaa rekisteröitymällä Facebook-tunnuksillasi." %}</p>
                <a class="btn btn-default" href="{% url 'social:begin' 'facebook' %}?next={% url 'account:activation_done' %}&action=signup">
                    {% trans "Rekisteröidy" %}
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
